@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --font-primary: 'Lekton', 'sans-serif';

  /*
    --english-violet: #44355bff;
    --dark-purple: #31263eff;
    --raisin-black: #221e22ff;
    --hunyadi-yellow: #eca72cff;
    --flame: #ee5622ff;
  */

  --color-primary: #ee5622ff;
  --color-primary-2: #eca72cff;
  --color-secondary: #44355bff;
  --color-dark: #221e22ff;
  --color-dark-alt: #31263eff;
}

.button {
  @apply inline-flex items-center space-x-2 px-4 py-2 bg-primary/20 border border-primary text-primary rounded-lg hover:bg-primary hover:text-white disabled:bg-slate-500/10 disabled:border-slate-500 disabled:text-slate-500;
}

.box {
  @apply border rounded-xl p-4 border-slate-800 bg-slate-800/20;
}

.title {
  @apply font-primary text-4xl font-medium;
}

.subtitle {
  @apply text-lg font-bold text-slate-400;
}

.form-input {
  @apply border p-2 rounded-lg border-slate-600 bg-slate-600/10 outline-0 w-full;
}
